@using evobags.Models.LearnViewModels;
@model EnvironmentalImpactViewModel

@{ 
    ViewData["Title"] = "Environmental Impact Calculator Results";
}

<h1>@ViewData["Title"]</h1>
<h3>
<p>&nbsp;</p>
Based on the fact that you will use <b>@ViewData["NumCases"]</b> cases of Evolution Trash Bags, we have calculated that you will
have reduced the amount of greenhouse gases by <b>@ViewData["GHGReduction"] metric tons!</b> 
<p>&nbsp;</p>
<p>This is equivalent to removing <b>@ViewData["CarsRemoved"] passenger vehicles</b> from the road each year.</p>
<p>&nbsp;</p>
<p><b>@ViewData["Trees"]</b> Seedlings would need to be planted and grow for 10 years!</p>
<p>&nbsp;</p>
<p>With the amount of greenhouse gases reduced by your usage of Evolution Trash Bags, you could power <b>@ViewData["HomesPowered"] homes</b> for one year!</p><p>That is very impressive!</p></h3>
